@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.welcome-main-container {
  height: 85vh;
}

.welcome-main-container .welcome-container {
  margin-top: 5rem;
  padding-right: 10px;
}

.welcome-main-container .welcome-container h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  color: #000;
}

.welcome-main-container .welcome-container p {
  color: #555555;
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
}

.welcome-main-container .welcome-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #555555;
}

.welcome-main-container .welcome-container button {
  margin-top: 1rem;
  background: #f46a06;
  border: none;
  color: #fff;
  padding: 0.7rem 2.5rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.nearest-facilities-list-tab {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nearest-facilities-list-tab h2 {
  font-family: "Quicksand", sans-serif;
  color: #000;
}

.nearest-facilities-list-tab div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nearest-facilities-list-tab div h2 {
  font-size: 20px;
}

.nearest-facilities-list-tab div button {
  border: none;
  color: #fff;
  margin-left: 10px;
  padding: 0.5rem 1rem;
  background-color: #f46a06;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.facilities-main-container {
  margin: 15px;
  padding: 5rem;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.facilities-main-container .tabs-container {
  position: relative;
  background-color: #f1e8d7;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 1rem;
  padding: 2rem 5rem;
}

.facilities-main-container .tabs-container ul {
  margin: 0;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.facilities-main-container .tabs-container ul li {
  list-style: none;
  font-family: "Quicksand", sans-serif;
  color: #f46a06;
  font-size: 32px;
}

.facilities-main-container .tabs-container .cart-container {
  position: absolute;
  top: -15px;
  right: -10px;
}

.facilities-main-container .tabs-container .cart-container .contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1f1c1c;
  background-color: #f1e8d7;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.facilities-main-container .tabs-container .cart-container .contents .counter {
  position: absolute;
  top: -15px;
  right: -5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 100%;
  border: 1px solid #1f1c1c;
  color: #f46a06;
  height: 30px;
  width: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facility-container {
  background-color: #f1e8d7;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.facility-container img {
  width: 100%;
  height: 300px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.facility-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 15px;
}

.facility-container .title-container div {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.facility-container .title-container div h3 {
  font-size: 25px;
  text-transform: capitalize;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.about-main-container h2 {
  color: #f46a06;
  font-family: "Quicksand", sans-serif;
}

.about-main-container p {
  margin-left: 5rem;
  margin-top: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
/*# sourceMappingURL=home.css.map */