@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.body {
  height: 100vh;
  background-color: #f46a06;
}

.dashoard-main-container {
  position: relative;
  padding-top: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f46a06;
}

.dashoard-main-container .sidebar {
  position: absolute;
  left: 0;
  background: #fff;
  border-radius: 10px;
  margin-left: 15px;
  width: 350px;
}

.dashoard-main-container .sidebar .main-contents {
  height: 90vh;
}

.dashoard-main-container .sidebar .main-contents .user-main-container {
  padding: 1rem;
  padding-bottom: 0;
  margin-top: 2rem;
}

.dashoard-main-container .sidebar .main-contents .user-main-container .rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashoard-main-container .sidebar .main-contents .user-main-container .rw .icon {
  background-color: #f46a06;
  border-radius: 100%;
  padding: 5px;
}

.dashoard-main-container .sidebar .main-contents .user-main-container .rw .details {
  width: 100%;
  margin-left: 10px;
}

.dashoard-main-container .sidebar .main-contents .user-main-container .rw .details h2 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.dashoard-main-container .sidebar .main-contents .user-main-container .rw .details .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashoard-main-container .sidebar .main-contents .user-main-container .rw .details .title div {
  width: 20px;
  height: 12px;
  background-color: #e27287;
  border-radius: 10px;
}

.dashoard-main-container .sidebar .main-contents .user-main-container .rw .details .title span {
  color: #555555;
  font-size: 12px;
  margin-left: 10px;
}

.dashoard-main-container .sidebar .main-contents ul {
  margin: 0;
  padding: 0;
  margin-top: 4rem;
}

.dashoard-main-container .sidebar .main-contents ul a {
  text-decoration: none;
  color: #1f1c1c;
}

.dashoard-main-container .sidebar .main-contents ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 1rem;
  margin-bottom: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.dashoard-main-container .sidebar .main-contents ul li span {
  margin-left: 10px;
  text-transform: capitalize;
}

.dashoard-main-container .sidebar .main-contents ul li:hover {
  background-color: #1f1c1c;
  color: #fff;
  cursor: pointer;
}

.dashoard-main-container .sidebar .main-contents ul li.active {
  background-color: #1f1c1c;
  color: #fff;
  cursor: pointer;
}

.dashoard-main-container .contents {
  width: calc(100% - (15px + 350px));
  margin-left: calc(350px + 15px);
  margin-top: 1.5rem;
  padding: 0px 25px;
}

.dashoard-main-container .contents .contents-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashoard-main-container .contents .contents-header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dashoard-main-container .contents .contents-header .title span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding-left: 10px;
}

.dashoard-main-container .contents .contents-header .company {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
}

.dashoard-main-container .contents .main-contents-container {
  margin-top: 15px;
  background-color: #f1e8d7;
  border-radius: 10px;
  padding: 2rem;
}

.dashoard-main-container .contents .main-contents-container .br {
  height: 2px;
  background-color: #808080;
}

.dashoard-main-container .contents .main-contents-container .br-right {
  border-right: 2px solid #808080;
}

.dashoard-main-container .contents .main-contents-container .br-left {
  border-left: 2px solid #808080;
}

.dashoard-main-container .contents .main-contents-container .hotel-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashoard-main-container .contents .main-contents-container .hotel-service h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.dashoard-main-container .contents .main-contents-container .hotel-service span {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.manage-room-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.manage-room-header h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.manage-room-header button {
  background: #f46a06;
  color: #fff;
}

.room-table table {
  width: 100%;
}

.room-table table th {
  background-color: #f1e8d7;
  padding: 5px;
}

.room-table table tr:nth-of-type(even) {
  background-color: #f1e8d7;
}

.room-table table td {
  padding: 5px;
}

.room-table .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room-table .icons div {
  background-color: #f46a06;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manage-rooms-footer h3 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=hotel.dashboard.css.map */